$blue: #0091EA;
$white: #FFF;
$black: #000;
$gray: #BDBDBD;

@import 'resetFont';

.content {

  .col-md-12 {
    padding: 0; 

    .show-post {
      margin-top: 50px;
      margin-bottom: 50px;

      .post-table {
        border-radius: 8px;
        background-color: $white;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 30px;
        box-shadow: 7px 5px 5px 7px $gray;

        .content-post-table {
          td {
            color: $black;
            text-align: center;
            width: 24%;

            a {
              color: $black;
            }
          }

          tr {
            height: 50px;
            border-bottom: 1px solid $gray;

            &:last-of-type {
              border-bottom: none;
            }
          }
        }
        
        thead {
          th {
            color: $black;
            text-align: center;
            text-transform: uppercase;
          }

          tr {
            height: 70px;
            border-bottom: 1px solid $gray;
          }
        }

      }

      .add-post {
        width: 80%;
        margin: 0 auto;

        a {
          color: $white;
          text-align: center;
          background-color: $blue;
          padding: 10px;
          border-radius: 8px;
        }
      }

      .pagination, .alert {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px; 
      }

    }

  }

  .home, .formation-stage, .search {

    display: flex; 
    background-color: $white;
    flex-direction: row; 

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }


  /* LEFT CONTENT */
    .left-content {
      width: 70%;
      flex-direction: column;

      @media screen and (max-width: 1024px) {
        width: auto;
        align-items: center;
      }

      .child-item {
        display: flex;
        width: 70%;
        padding: 20px;
        margin: 20px;
        border-radius: 8px;
        background-color: $white; 
        box-shadow: 7px 5px 5px 7px $gray;

        @media screen and (max-width: 1024px) {
          flex-direction: column; 
        }

        /*&:last-of-type {
          border-bottom: none;
        }*/

        .right-item {
          display: flex;
          padding-left: 20px;
          justify-content: center;
          flex-direction: column;
        }

        .left-item {
          display: flex;
          align-items: center;

          @media screen and (max-width: 1024px) {
            justify-content: center;
          }

          .image {
            max-width: 250px;
            max-height: 250px;
            min-width: 250px;
            border: 1px solid #E0E0E0;
            min-height: 250px;
            object-fit: cover;
            object-position: right top;
          }

        }

      }

      .pagination {
        padding: 20px 20px 0px 20px;
      }

    }

  /* RIGHT CONTENT */
    .right-content {
        width: 30%; 
        justify-content: center;

        @media screen and (max-width: 1024px) {
          width: auto;
        }

      .form-search {
        width: 80%;
        display: flex;
        background-color: #FFF;
        flex-direction: column;
        height: 150px;
        padding: 20px;
        margin: 20px;
        border-radius: 8px; 
        box-shadow: 7px 5px 5px 7px $gray;

        @media screen and (max-width: 1024px) {
          height: auto;
        }

        label {
          font-size: 20px; 
        }

        input {
          border: 1px solid $gray;
          margin-bottom: 10px;  
        }

        button {
          padding-top: 5px;
          padding-bottom: 5px; 
        }

      }

    }

  /* LEFT & RIGHT CONTENT */
    .left-content, .right-content {
      display: flex;
    }

  }

  .create-edit-post, .contact {
    width: 30%;
    margin: 0 auto; 
    background-color: $white;
    flex-direction: row; 
    box-shadow: 7px 5px 5px 7px $gray;
    margin-top: 20px;
    margin-bottom: 40px;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      width: 70%;
    }
    
    .col-md-12 {
      padding: 40px;

      .content-input {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 1024px) {
          flex-direction: column;
        }
      
        .content-left-input, .content-right-input {
          width: 50%;

          @media screen and (max-width: 1024px) {
            width: auto;
          }

          label {
             margin-right: 20px; 
          }

          input, textarea, select {
            width: 90%;
            height: 40px;
            padding-left: 5px;
            border: 1px solid $gray;

            @media screen and (max-width: 1024px) {
              width: 100%;
            }
          }

        }

      } 

      input[type="submit"] {
        background-color: $blue;
        border: none;
        color: $white;
        border-radius: 8px;
        margin-top: 20px;
        padding: 5px 10px 5px 10px;
      }  

      select {
        margin-bottom: 10px;
      }

      .input-radio {
        input {
          margin-left: 10px;
          margin-right: 5px;
        }
      }

      .image-edit {
        max-width: 250px;
        max-height: 250px;
        min-width: 250px;
        border: 1px solid #E0E0E0;
        min-height: 250px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: right top;
        object-position: right top;
      }

    }

  }

}

/* HEADER & FOOTER */
  .header, .footer {
    background-color: $blue; 

    .content-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .content-admin {
        width: auto;
        display: flex;
        align-items: center;

        a { 
          margin: 5px; 
        }

      }

      .navbar-toggle {

        background-color: transparent;
        border: none; 

        a {
          padding-left: 40px;
          padding-right: 40px;
          font-weight: bold;
          text-transform: uppercase; 
        }

      }

      a {
        color: $white;
      }

    }

  }

  .header {
    height: auto;
  }

  .navbar-brand {
    display: none; 
  }

  .error {
    color: red;
  }

  .publier {
    color: green;
  }

  .non-publier {
    color: red;
  }
